html {
  height: 90%;
}
body {
  margin: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  background-image: url('shapes.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  touch-action: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
h1 {
  font-family: 'Monoton', cursive;
  font-weight: normal;
  margin:5px;
  color:#4CAFE9;
}
h4 {
  font-family:  'VT323', sans-serif;
  font-size: 35px;
  color:#B3B2B2;
}
input {
  width: 80%;
  padding-left: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

ul {
  font-size:20px;
  margin:10px;
}

#join_button {
  width:auto;
  margin-left: auto;
  margin-right: auto;
}
#start_button {
  margin:5px;
}
#end_button {
  margin:5px;
}
#clear_button {
  margin:5px;
}
#my_role {
  opacity:0;
  transition: opacity 1s linear;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

/* label color */
 .input-field label {
   color: black !important;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: black !important;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #4CAFE9 !important;
   box-shadow: 0 1px 0 0 #4CAFE9 !important;
 }

 /* label underline focus color */
 .input-field input[type=text] {
   border-bottom: 1px solid #4CAFE9 !important;
   box-shadow: 0 1px 0 0 #4CAFE9 !important;
 }

#modal_trigger {
  margin-left: auto;
  margin-right: auto;
}
